*{
  margin: 0;
  padding: 0;
}

.header{
  color: white;
  background: linear-gradient(rgba(22, 22, 22, 0.488),rgba(65, 64, 64, 0.425)), url(../img/mapa.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}

.header > h1 { 
  font-family: 'Caveat', cursive;
  font-size: 6.25em;
  font-weight: normal;
  margin: auto;
  padding-top: 80px;
  text-align: center;
}

.header > p{
  font-family: 'Caveat', cursive;
  font-size: 2em;
  text-align: center;
}
