*{
  margin: 0;
  padding: 0;
}

.header{
  color: white;
  background: linear-gradient(rgba(22, 22, 22, 0.433),rgba(65, 64, 64, 0.348)), url(../img/mapa.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 50vh;
}

.header > h1 { 
  font-family: 'Caveat', cursive;
  font-size: 6.25em;
  font-weight: normal;
  padding-top: 3%;
  text-align: center;
}

.header > p{
  font-family: 'Caveat', cursive;
  font-size: 2em;
  text-align: center;
}
