.apresentation {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin: auto;
  padding: 1.2em;
  position: relative;
}
.img-section-one{
  max-width: 91%;
  max-height: 91%;
  position: relative;
}

.apresentation > h3 {
  color: #1e6c93;
  font-family: 'Amatic SC', cursive;
  font-size: 1.8125em;
  font-weight: lighter;
  margin-bottom: 0.62em;
  text-align: center;
}

.apresentation > p{
  font-family: 'Spectral', serif;
  font-size: 1em;
  font-weight: lighter;
  max-width: 31.25em;
  text-align: center;
}

.images{
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  gap: 1.25em;
  margin: 5em;

  grid-template-rows: 18.75em ;
  grid-template-columns: 1fr 2fr ;

  position: relative;
}

.img-one{
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  
}

.img-two{
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
  
}

.img-three{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  width: 97.5%;
  height: 97.5%;
    
}
